.pixora-wpim-magnifier {
	background-color: #000;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	display: none;
	height: 200px;
	left: 0;
	margin: -100px 0 0 -100px !important;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 200px;
	z-index: 20;
}

.pixora-wpim-magnifier.is-visible {
	display: block;
}

.woocommerce-product-gallery__image,
.wc-block-product-gallery-large-image__wrapper {
	position: relative;
}

.woocommerce-product-gallery__image a,
.wc-block-product-gallery-large-image__wrapper a {
	cursor: none;
}

.pixora-wpim-magnifier--mobile {
	display: none !important;
}

@media (max-width: 767px) {
	.pixora-wpim-magnifier:not(.pixora-wpim-magnifier--mobile) {
		display: none !important;
	}

	.pixora-wpim-magnifier--mobile {
		height: 150px;
		margin: -75px 0 0 -75px !important;
		width: 150px;
	}

	.pixora-wpim-magnifier--mobile.is-visible {
		display: block !important;
	}
}
